@charset "UTF-8";
.main-menu-link:hover, .contact-link:hover, .main-menu-link:focus-within, .contact-link:focus-within, .main-menu-link:active, .contact-link:active {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-shortcut:hover, .social-shortcut:focus-within, .social-shortcut:active {
  background-color: #2196f3;
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-shortcut:hover svg,
.social-shortcut:focus-within svg,
.social-shortcut:active svg {
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon, .footer-icon {
  width: 20px;
  height: 20px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding-top: 80px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Main menu */
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.main-menu-link {
  position: relative;
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  text-transform: none;
  outline: none;
}

.header-pages {
  margin-right: 305px;
}

.header-pages > li:not(:last-child) {
  display: block;
  margin-right: 50px;
}

.header-icon {
  display: block;
  width: 15px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  fill: #757575;
}

/* contacts animation */
.contact-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #757575;
  text-transform: none;
  line-height: 80px;
}

.contact-link:hover svg,
.contact-link:focus-within svg,
.contact-link:active svg {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts > li:not(:last-child) {
  margin-right: 30px;
}

.header-number {
  display: block;
  padding: 0px;
  border: 0px;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
}

.current-page {
  color: #2196f3;
}

.current-page:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
  background-color: #2196f3;
}

.button-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: none;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.hero .button-style {
  margin-bottom: 224px;
}

.portfolio-button {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
  border-radius: 4px;
  border: none;
  line-height: 38px;
  padding-right: 22px;
  padding-left: 22px;
  margin-left: 8px;
  background-color: #f5f4fa;
}

/* 
 * elenent with links of social webs
 *
 */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 44px;
  margin-bottom: 25px;
  list-style: none;
}

.social-list:not(:last-child) {
  margin-left: 10px;
}

/* svg */
.team-icon {
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* social webs animation */
.social-shortcut {
  display: block;
  width: 44px;
  height: 44px;
  padding: 11px;
  border: none;
  border-radius: 50%;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.form-header {
  padding-top: 25px;
  /* 40-15 */
  padding-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
}

.form-input {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  padding-left: 42px;
  border-color: rgba(33, 33, 33, 0.2);
  border-width: 1px;
  border-radius: 4px;
}

.form-field {
  position: relative;
  left: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 4px;
}

.form-label {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #757575;
  text-transform: uppercase;
}

.form-field:hover label,
.form-field:hover input,
.form-field:hover svg,
.form-field:focus-within label,
.form-field:focus-within input,
.form-field:focus-within svg {
  color: #2196f3;
  border-color: #2196f3;
  fill: #2196f3;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateX(-25px) translateY(-40px);
          transform: translateX(-25px) translateY(-40px);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-customer-icon {
  position: absolute;
  left: 19px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.license-agreement,
.checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-form-checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hero-form-checkbox ~ .hero-custom-checkbox:before {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-custom-checkbox {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
}

.hero-form-checkbox:checked ~ .hero-custom-checkbox:before {
  background-color: #2196f3;
  border-color: transparent;
  background-image: url("../images/custom-checked-box.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-comment {
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 14px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #757575;
  text-transform: none;
}

.comment-field {
  width: 448px;
  padding: 12px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.license-agreement {
  margin-right: auto;
  margin-left: auto;
}

.license-agreement label {
  margin-left: 50px;
}

.license-agreement-link {
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
  color: #2196f3;
}

.license-agreement-link:visited {
  color: #2196f3;
}

.modal .button-style {
  padding-right: 55px;
  padding-left: 55px;
  margin-top: 30px;
  margin-left: 50%;
  margin-bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* 
 * Footer form
 *
 */
.footer-subscribe {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.footer-input {
  width: calc(100% - 3*30px);
  min-width: 50px;
  height: 50px;
  padding-left: 12px;
  background-color: #2f303a;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 4px;
  background-color: #2f303a;
  border-radius: 4px;
}

.button-box {
  margin-top: 0px;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 29px;
  border: none;
}

.button-box svg {
  fill: #ffffff;
  margin-left: 10px;
}

.input-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
}

.logo-container {
  display: block;
  margin-right: 85px;
  line-height: 80px;
  white-space: nowrap;
}

.footer-logo-link {
  display: block;
  margin-bottom: 20px;
}

.logo-1-2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-transform: none;
}

.logo-2-2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  text-transform: none;
}

.logo-2-3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: none;
}

/* Modal window */
.backdrop {
  position: absolute;
  z-index: 15;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  z-index: 20;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 0px;
  padding-bottom: 0px;
  width: 528px;
  -webkit-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-radius: 4px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
 * Portfolio
 *
 */
/* menu */
.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}

/* - Portfolio cards---------------------------------- */
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio-card {
  display: block;
}

.portfolio-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid;
  border-color: #f5f4fa;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:hover .jumping-text,
.portfolio-item:focus-within .jumping-text,
.portfolio-item:active .jumping-text {
  /* для IE<7 */
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover, .portfolio-item:focus-within, .portfolio-item:active {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  width: 100%;
}

.portfolio-jumping-box {
  position: relative;
  overflow: hidden;
}

.jumping-text {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: none;
  background-color: rgba(33, 150, 243, 0.9);
}

.card-title {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  text-align: left;
  letter-spacing: 0.06em;
  color: #212121;
  text-transform: none;
}

.card-subtitle {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
  margin-left: 24px;
  margin-bottom: 20px;
}

.menu-link:hover, .menu-link:focus-within, .menu-link:active {
  color: #ffffff;
  background: #2196f3;
  border: none;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-title {
  position: absolute;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
}

/* 
 * Principle section
 *
 */
.principle-header {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.principles-item-box {
  width: calc((100% - 30px * 3) / 4);
}

.principles-child:not(:last-child) {
  margin-right: 30px;
}

.principles-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}

.principle-icon {
  width: 70px;
  height: 70px;
}

.principle-description {
  width: 270px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
  line-height: 24px;
}

/* 
 * ways of development section
 *
 */
.ways-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: flex-end;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.ways-item:nth-child(3n) {
  margin-right: 0px;
}

.ways-image {
  width: 100%;
}

.ways-subtitle {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

/* 
 * team section
 *
 */
.team-item-box {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-item-box > .social-list {
  margin-right: auto;
  margin-left: auto;
}

.team-item-box:nth-child(4n) {
  margin-right: 0px;
}

.image-sizer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.member-image {
  position: absolute;
  width: 100%;
  padding-bottom: 30px;
}

.member-name {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
}

.member-responsibility {
  display: block;
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
}

/* 
 * Clients section
 *
 */
.clients-item-box {
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
}

.clients-item-box:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 4px;
  border-color: #afb1b8;
}

.clients-link:hover, .clients-link:focus-within, .clients-link:active {
  border-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover svg,
.clients-link:focus-within svg,
.clients-link:active svg {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  width: 80px;
  height: 80px;
  fill: #afb1b8;
}

/* clients icons size balans */
.client-icon1 {
  width: 45px;
  /* height: 50px; */
}

.client-icon2 {
  width: 52px;
  /* height: 52px; */
}

.client-icon3 {
  width: 41px;
  /* height: 43px; */
}

.client-icon5 {
  width: 60px;
  /* height: 47px; */
}

.client-icon6 {
  width: 89px;
  /* height: 46px; */
}

.container {
  display: block;
  width: 1200px;
  padding-top: 47px;
  padding-right: 15px;
  padding-bottom: 47px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-header {
  display: block;
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
}

.container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

/* 
 * Header
 *
 */
header {
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  /* height: 80px; */
  top: 0px;
  background-color: #ffffff;
  border: 1px solid #ECECEC;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Main menu */
header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header.jpg");
  background-color: rgba(47, 48, 58, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-top: 140px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 695px;
}

/* 
 * Footer section 
 *
 */
footer {
  padding-bottom: 60px;
  background-color: #2f303a;
}

footer .container {
  padding-bottom: 0px;
}

.footer-axis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* address column */
.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  width: calc((50% - 45px) / 2);
  margin-right: 70px;
}

footer .contact-link {
  line-height: 19px;
}

.footer-form:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 15px);
}

.contact-item:not(:last-child) {
  width: 100%;
  padding-bottom: 18px;
}

.address-post {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: none;
}

.social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

/* --- Subscribe */
/*# sourceMappingURL=main.css.map */