// @mixin для шрифтов и флекса

@mixin font($family, $style, $weight, $size, $line-h, $align, $letter-spacing, $text-color, $text-transform) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-h;
    text-align: $align;
    letter-spacing: $letter-spacing;
    color: $text-color;
    text-transform: $text-transform;
}

@mixin flex($display, $flex-direction, $justify-content, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

// usage
//  @include font($font-logo, 26px, 1.193, 700);

// @mixin flex($ff, $fs, $lh: 1, $fw: 400) {
//     font-family: $ff;
//     font-size: $fs;
//     font-weight: $fw;
//     line-height: $lh;
//   }