  $header-blue: #2196f3;
  $subtitle-color: #757575;
  $logo-color-2-2: #000000;
  $hero-ways-background: rgba(47, 48, 58, 0.8);
  $title-color: #212121;
  $team-box-color: #f5f4fa;
  $social-icon-color: #afb1b8;
  $footer-color: #2f303a;
  $button-text-color: #ffffff;
  $modal-close-color: rgba(0, 0, 0, 0.1);
  $backdrop-color: rgba(0, 0, 0, 0.2);
  $footer-social-bgr: rgba(255, 255, 255, 0.1);
  $input-border-color: rgba(255, 255, 255, 0.3);
  $copy-rights-color: rgba(255, 255, 255, 0.4);
  $contact-color: rgba(255, 255, 255, 0.6);
  $form-input-color: rgba(33, 33, 33, 0.2);
  $jumping-text-bgr: rgba(33, 150, 243, 0.9);
  $ways-header-text: rgba(47, 48, 58, 0.8);

  $main-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
  $logo-font: Raleway;

  $section-padding: 47px;

// :root {
//     --header-blue: #2196f3;
//     --subtitle-color: #757575;
//     --logo-color-2-2: #000000;
//     --hero-ways-background: rgba(47, 48, 58, 0.8);
//     --title-color: #212121;
//     /* --svg-background-color: #f5f4fa; */
//     --team-box-color: #f5f4fa;
//     /* --team-social-icon: #afb1b8; */
//     --social-icon-color: #afb1b8;
//     --footer-color: #2f303a;
//     --button-text-color: #ffffff;
//     --modal-close-color: rgba(0, 0, 0, 0.1);
//     --backdrop-color: rgba(0, 0, 0, 0.2);
//     --footer-social-bgr: rgba(255, 255, 255, 0.1);
//     --input-border-color: rgba(255, 255, 255, 0.3);
//     --copy-rights-color: rgba(255, 255, 255, 0.4);
//     --contact-color: rgba(255, 255, 255, 0.6);
//     --form-input-color: rgba(33, 33, 33, 0.2);
//     --jumping-text-bgr: rgba(33, 150, 243, 0.9);
  
//     --main-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     --logo-font: Raleway;
  
//     --section-padding: 47px;
  
//     /*variables for markup visualisation - comment for homework*/
//     --view-background-1: yellow;
//     --view-background-2: grey;
//     --view-background-3: black;
//   }