.principle-header {
    margin-bottom: 10px;
  
    @include font(
      Roboto, 
      normal, 
      bold, 
      14px, 
      16px, 
      left, 
      0.03em, 
      $title-color,
       uppercase
       );
  }

  .container {
    display: block;
    
    width: 1200px;
    padding-top: var(--section-padding);
    padding-right: 15px;
    padding-bottom: var(--section-padding);
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-header {
    display: block;
    margin-bottom: 50px;

    @include font(Roboto, normal, bold, 36px, 42px, center, 0.03em, $title-color, none);
  }

   .container-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
   }