/* 
 * Footer section 
 *
 */

footer {
  padding-bottom: 60px;
  background-color: $footer-color;
}

footer .container {
  padding-bottom: 0px;
}
    
.footer-axis {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* address column */
    
.footer-contacts {
  @include flex(
    flex,
    column,
    nowrap,
    left,
    inherit
);

  width: calc((50% - 45px) / 2);
  margin-right: 70px;
}
    
footer .contact-link {
  line-height: 19px;
}

.footer-form:last-child {
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);
}

.contact-item:not(:last-child) {
  width: 100%;
  padding-bottom: 18px;
}

.address-post {
  @include font(
    Roboto, 
    normal, 
    normal, 
    14px, 
    24px, 
    normal, 
    0.03em, 
    $button-text-color, 
    none
  );
}
  
.social-link {
  background-color: $footer-social-bgr;
}
    
    /* --- Subscribe */
    
.footer-subscribe {
  margin-bottom: 20px;

  @include font(
    Roboto,
    normal,
    bold,
    14px,
    16px,
    left,
    0.03em,
    $button-text-color,
    uppercase
  );
}
    
.footer-email {
  @include flex(
    flex,
    row,
    nowrap,
    center,
    none
  );
}
    
.footer-input {
  width: calc(100% - 3*30px);
  min-width: 50px;
  height: 50px;
  padding-left: 12px;
  background-color: $footer-color;

  @include font(
    Roboto,
    normal,
    normal,
    16px,
    30px,
    none,
    0.03em,
    $contact-color,
    none
  );
    
  border: 1px solid $input-border-color;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 4px;
  background-color: $footer-color;
  border-radius: 4px;
}
    
.button-box {
  margin-top: 0px;
  margin-left: 12px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 29px;

  border: none;
}

.button-box svg {
  fill: $button-text-color;
  margin-left: 10px;
}

.input-text {
  @include font (
    Roboto,
    normal,
    bold,
    16px,
    30px,
    left,
    0.06em,
    $contact-color,
    none
  );
}
