/* 
 * Footer section 
 *
 */

footer {
  padding-bottom: 60px;
  background-color: $footer-color;
}

footer .container {
  padding-bottom: 0px;
}
    
.footer-axis {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* address column */
    
.footer-contacts {
  @include flex(
    flex,
    column,
    nowrap,
    left,
    inherit
);

  width: calc((50% - 45px) / 2);
  margin-right: 70px;
}
    
footer .contact-link {
  line-height: 19px;
}

.footer-form:last-child {
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);
}

.contact-item:not(:last-child) {
  width: 100%;
  padding-bottom: 18px;
}

.address-post {
  @include font(
    Roboto, 
    normal, 
    normal, 
    14px, 
    24px, 
    left, 
    0.03em, 
    $button-text-color, 
    none
  );
}
  
.social-link {
  background-color: $footer-social-bgr;
}
    
    /* --- Subscribe */
    